body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #5f9341;
    font-weight: bold;
    border-style: none;
    margin-top: 5px;
}
